pkgbase = hark
	pkgdesc = Raycast-style launcher for Linux (Hyprland/Wayland)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/Vedant9500/Hark
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = pkgconf
	depends = gtk4
	depends = gtksourceview5
	depends = glib2
	depends = gtk4-layer-shell
	depends = xdg-utils
	options = !lto
	source = hark-0.2.0.tar.gz::https://github.com/Vedant9500/Hark/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = 2a8f98aaed2722b872474848fa994656f0d37391480ab1b129f6083234801332

pkgname = hark
