#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Hark
GenericName=Launcher
Comment=Raycast-style launcher for Linux (Hyprland/Wayland)
Exec=hark
Icon=hark
Terminal=false
Categories=Utility;Core;
Keywords=launcher;search;raycast;rofi;spotlight;
StartupNotify=false
X-GNOME-Autostart-enabled=false
